<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="title-bar">Admin Panel</h1>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <app-admin-sidebar (tab)="selectTab($event)" (expanded)="mouseenter($event)" (expanded)="mouseleave($event)">
  </app-admin-sidebar>

  <div class="example-sidenav-content" [ngSwitch]="tab">
    <app-admin-portfolio-list [portfolioList]="portfolioList" [page]="page"
      (pageChange)=pageChange($event) *ngSwitchDefault></app-admin-portfolio-list>
    <app-admin-create-portfolio *ngSwitchCase="2" (createPortfolio)="createPortfolio($event)"
      [categoryList]="categoryList"></app-admin-create-portfolio>

  </div>

</mat-sidenav-container>